/* COMMON
------------------------------------*/
body {
    font-family: 'Source Sans Pro', sans-serif;
}

* {
    border-radius: 0 !important;
}

a {
    color: red;
    text-decoration: none;
}

address {
    margin-bottom: 20px;
    font-style: normal;
    line-height: 1.42857143;
}

p, li, li a {
    color: #555;
}

