@import "bootstrap.less";
@import "variables.less";

@import "font-awesome.less";

/* COMMON
------------------------------------*/
body {
  font-family: 'Source Sans Pro', sans-serif;
}

* {
  border-radius: 0 !important;
}

a {
  color: red;
  text-decoration: none;
}

address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.42857143;
}

p, li, li a {
  color: #555;
}

/* BOOTSTRAP
------------------------------------*/
.header .navbar-default .navbar-nav > li > a, .header .navbar-default .navbar-nav > li > a:hover, .header .navbar-default .navbar-nav > li > a:focus, .header .navbar-default .navbar-nav > .active > a, .header .navbar-default .navbar-nav > .active > a:hover, .header .navbar-default .navbar-nav > .active > a:focus {
  background: none;
}

.navbar {
  border: none;
}

.navbar-default {
  border-color: white;
  background-color: white;
  background-image: none;
  box-shadow: none
}

